.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background: #c4b9c2;
}

h1 {
    font-size: 36px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #070303;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #4caf6d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

li.done {
    background-color: rgb(242, 255, 204);
    text-decoration: line-through;
}